$color-site: #CCCCCC;
$color-second: #CFFF00;
$tittle:80px;
$subtitle:30px;
$text:16px;


@mixin cajaFondo {
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin tittle {
  font-size: $tittle;
  letter-spacing:-15; 
  font-weight: 500;
  padding-left: 10px;
}

@mixin buttonSecond {
  display: inline-block;
  padding: 5px 15px 5px 15px;
  margin: 20px;
  font-size: $text;
  font-weight: 600;
  color: #898989;
  border: 1px solid;
  background-image: linear-gradient(to right, rgba(255,0,0,0), #CFFF00);
  position: relative;
  margin-right: 5px;
 float: right;
}

@mixin pBajadas {
  font-size: 40px;
  display: inline;
  padding: 4px 10px 4px 10px;
  margin-left: 5%;
  border: solid;
  border-width: 2px;
  border-color: $color-second;
}

@mixin cajaPresentacion {
  border: solid 1px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-items:center;
}

@mixin buttonPrimary {
  font-size: $subtitle;
  display: flex;
  justify-content: center;
  margin-top: 30px;
      a{
        color:black;
        border: 1px solid;
        padding: 4px 15px 4px 15px;
        margin-top: 10px;
}
}

@mixin contenedorPrimario {
  width: 86%;
  margin-right: auto;
  margin-left: auto;
} 


@mixin pBajada1 {
  font-size: $text;
  display: inline-block;
  border: solid;
  border-width: 2px;
  border-color: $color-second;
}



* { 
	box-sizing:border-box;
    margin: 0;
	padding: 0;
}

body {
	font-family: Titillium Web, sans-serif ;
	background-color: $color-site;
	}

body,html {
	height: 100%;
}

/* Barra navegacion --------------------------------------------------------- */

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items:center;

  width: 99.2%;
  color: black;
  background-color: $color-site;
  border: solid;
  border-width: 1px;
  margin: 5px 0px 10px 5px;
  }

.nav__logo img {
  width: 40%;
  margin: 10px;
}

/* Boton de Menu */
.nav__menu__boton{
  background-color: $color-site;
  color: black;
  font-weight: bold;
  padding: 14px 22px 14px 22px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-left: 1px solid black;
  height: 70px;
}

/* Contenido de Menu */
.nav__menu__contenido {
  display: none;
  position: absolute;
  right: 8px;
  background-color: #7B7B7B;
  min-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
		a {
 			color: $color-site;
  			padding: 12px 16px;
 			  text-decoration: none;
  			display: block;
        transition: all 0.1s linear;
		}
		a:hover {
			background-color: $color-second;
			color: black;
		}		
	}

.nav__menu:hover .nav__menu__contenido {display: block;}

.nav__menu:hover .nav__menu__boton {
	background-color: black;
	color:$color-site;
}


/* Pagina Inicio --------------------------------------------------------- */ 

.fotoFondo {
  background-image: url("../imagenes/fondo_03.jpg");
  @include cajaFondo;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 50px;
} 

.flexColumn {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contenedorHola {
  width: 1000px;
  height: 270px;
  overflow: hidden;
}

.h6hola {
  font-size: 200px;
  letter-spacing:-15;
  font-weight: 500;
  padding-left: 4%;
  margin-top: 200px;
  animation: holaAnimado;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}


@media(max-width: 900px){
  .h6hola {
    font-size: 120px; 
    margin-top: 120px;

}
}

@media(max-width: 600px){
  .contenedorHola{
    margin-top: 100px;
  }
}

@media(max-width: 600px){
  .h6hola {
    font-size: 100px;
   margin-top: 100px;
}
}

@keyframes holaAnimado{

  from{ margin-top: 200px;}
  to{ margin-top: 0px;}
}


.pInicio p {
  font-size: $tittle;
  font-weight: 400; 
  letter-spacing:-15;
  line-height: 70px;
  padding-bottom: 5px;
  padding-left: 5%;
}


@media (max-width: 922px) {
.pInicio p{
  font-size: 50px;
}
}

.contenedorP1 {
  width: 900px;
  height: 120px;
  overflow: hidden;
    p{
      margin-top: 200px;
      animation: p1Animado;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
}

@media(max-width: 922px){
  .contenedorP1{
    height:75px;
  }
  .contenedorP1 p{
    font-size: 40px;
    }
}

@keyframes p1Animado {
  from{ margin-top: 200px;}
  to{ margin-top: 0px;}
}

.contenedorP2 {
  width: 900px;
  height: 120px;
  overflow: hidden;
    p{
      margin-top: 200px;
      animation: p2Animado;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
    }
}

@media(max-width: 922px){
  .contenedorP2{
    height:75px;
  }
  .contenedorP2 p{
    font-size: 40px;
    }
}

@keyframes p2Animado {
  from{ margin-top: 200px;}
  to{ margin-top: 0px;}
}

.contenedorP3 {
  width: 900px;
  height: 120px;
  overflow: hidden;
    p{
      margin-top: 200px;
      animation: p3Animado;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }
}

@media(max-width: 922px){
  .contenedorP3{
    height:75px;
  }
  .contenedorP3 p{
    font-size: 40px;
    }
}

@keyframes p3Animado {

  from{ margin-top: 200px;}
  to{ margin-top: 0px;}
}


.pBajada p{
  @include pBajadas;
  animation: pBajada;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0%;
  background-color:
}

@keyframes pBajada {

  from{ opacity: 0%}
  to{ opacity: 100%;}
}

@media(max-width:900px){
  .pBajada p{
    font-size: 20px;
  }
}

.flecha {
  width: 60%;
  position: relative;
  top: 75%;
  right: 15%; }

  @media(max-width: 900px){
  .flecha{
    width:20%;
    margin-left: 40px;
    right: 0;
    margin-top: 80px;
  }
}


.flechaSubir2 img {
  width: 4.5%;
  position: absolute;
  right: 0; }

@media (max-width: 920px) {
  .flechaSubir2 img {
    width: 6.5%; } }

.flechaSubir2 {
  position: sticky;
  top: 10px; }
  .flechaSubir2 img:hover {
    background-color: #CFFF00; }

.miscelanea img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 120px;
    margin-bottom: 110px;
}

@media(max-width: 900px){
  .miscelanea img {
    width:50%;
    margin-top: 20px;
    margin: 0 auto;
    padding: 80px;
  }
}


/* Listado de Trabajos */

.trabajosContainer {
  @include contenedorPrimario;
  height: auto;
}

@media (max-width: 950px){
  .trabajosContainer{
    height: auto;
  }
}

.tituloListado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  border-width: 1px;
  flex-wrap: wrap;
  align-items: center;
}


.h6Listado {
  @include tittle;
}

.miscelanea2 {
    img {
      width: 60%;
    }
}

.cont-trabajos {
  height: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
    .img-portada {
      img{
        width: 98%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 8px;
      }
    } 
}

@media (max-width: 920px) {
.cont-trabajos{
  display: flex;
  flex-direction: column;
}
}

@media (max-width: 620px) {
.cont-trabajos{
  display: flex;
  flex-direction: column;
}
}


.cajaListado{
  border: solid 1px;
  }

.subtituloListado {
  font-size: $text;
  border: solid;
  border-width: 1px;
  margin: 8px 5px 5px 5px;
  padding-left: 10px;
}

.tituloItem {
  font-size: $subtitle;
  padding-left: 5px;
}

.textoListado {
  font-size: $text;
  font-weight: 100;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 28%;
}

.botonVerMas {
 @include buttonSecond;
}


.botonBase{
  @include buttonPrimary;
  position: relative;
  margin-top: 80px;
}

.miscelanea3 img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    margin-top: 90px;
    margin-bottom: 90px;
}

@media(max-width: 900px){
  .miscelanea3 img{
    width:35%;
    margin-top: 20px;
    margin: 0 auto;
    padding: 80px;
  }
}

.miscelanea4 {
  padding-top: 10px;
  padding-right: 10px;
  width: 20%;
}

.contactoContainer {
  @include contenedorPrimario;
}

.cajaContacto{
  border: 1px solid;
  margin-top: 10px;
  padding-bottom: 150px;
  margin-bottom: 50px;
}

.pBajada2 {
  @include pBajada1;
  padding: 4px 10px 4px 10px;
  margin: 30px 0px 0px 10px;
}


.botonBase2 {
  font-size: $subtitle;
  display: flex;
  justify-content:center;
  margin-top: 90px;
    a{
      color:black;
      border: 1px solid;
      padding: 4px 15px 4px 15px;
}
}

hr {
  border-top: 1px solid black;
  margin: 40px 20px 30px 20px;
}

.pContacto {
  font-size: $text;
  letter-spacing:-15;
  display: flex;
  justify-content: center;

}

.flechaSubir1 img{
  width: 4.5%;
  position: absolute;
  right: -8%;
}


@media (max-width: 920px) {
.flechaSubir1 img{
  width: 6.5%;
}
}


.flechaSubir1{
  position: sticky;
  top: 10px;
  img:hover{
        background-color: $color-second;
      }
}



/* Pagina Presentacion --------------------------------------------------------- */ 

.presentacion__fondo {
  background-image: url("../imagenes/fondo_presentacion.jpg");
  @include cajaFondo;
}

.h3Presentacion {
  @include tittle;
  margin-top: 50px;
  margin-left: 70px;
}


.pPresentacion {
  padding-left: 80px;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start; 
  align-items: center;
    p{
      display: inline-block;
      width: 60%;
    }
    img {
      margin-left: 30%;
    }
}

@media (max-width: 900px){
  .pPresentacion {
    display: block;
    width: 95%;
  }
  .pPresentacion p {
    width:95%;

  }
}

.imagenPerfil {
  width: 50%;
}

@media(max-width: 900px){
  .imagenPerfil{
    display: flex;
    margin: 50px auto;
    padding-right: 80px;
  }
}

.botonSkills {
  @include buttonSecond;
  margin-top: -50px;
  margin-right: 9%;

}

.cajaSkills {
  @include cajaPresentacion;
  margin-top: 200px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  width: 60%;
}

@media (max-width: 820px){
  .skills {
    height: 600px;
  }
}

.h3Skills {
  @include tittle;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 25%;
  display: inline-block;
}

.ulSkills{
  height: 400px;
  width: 500px;
  margin-top: 50px;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 100px;
  grid-template-columns: 2fr 2fr;
    li{
      list-style: none;
        img{
          padding-right: 10px;
        }
    }

}

@media (max-width: 820px){
  .ulSkills {
    height: 700px;
    display: flex;
    flex-direction: column;
      img {
        width: 5%;
    
  }
  }
}


.botones {
  @include buttonPrimary;
    a {
      margin-right: 20px;
      margin-bottom: 40px;
    }
}

/* Pagina Trabajos --------------------------------------------------------- */ 

.fondoTrabajos {
  background-image: url("../imagenes/fondo_04.jpg");
  @include cajaFondo;
}

.carousel {
  margin-top: 10px;

    p {
      text-shadow: 1px 1px 3px black;
      font-family: Titillium Web, sans-serif;
    }
}

h5 {
  text-shadow: 1px 1px 3px black;
  font-family: Titillium Web, sans-serif;
}

.mistrabajosContainer {
  @include contenedorPrimario;
}




/* Seccion prueba-------------------------------------- */ 

header {
      margin: 100px 0 80px 20px;
}

header p {
      width: 60%;
      margin-top: 10px;
}


.work {
      text-align: center;
      width: 100%;
}

.contenedorTp{
  width: 42%;
  display: inline-block;
  text-align: center;
   padding: 30px;
}

.contenedorTp figure{
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.30);
  cursor: pointer;
 
}

.contenedorTp figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out; 
}


.contenedorTp figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(207,255,0,0.7);
  transition: all 500ms ease-out; 
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.capa p {
  padding-bottom: 8px;
  padding-top: 8px;
}

.capa .ir {
  text-decoration: underline;
  border: solid;
  border-width: 2px;
  font-weight: bold;

}

.contenedorTp figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contenedorTp figure:hover > .capa h3{
  margin-top: 100px;
  margin-bottom: 15px;
}

.contenedorTp figure:hover > img{
  transform: scale(1.1);
}

.contenedorTp figure .capa h3{
  color: black;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out; 
  margin-top: 30px;
}

.contenedorTp figure .capa p{
  color: black;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}


.videos {
    margin: 80px 0 40px 12px;
      h1 {
        font-size: 36px;
      }
}

.videosTrabajos {
  padding-bottom: 80px;
     video {
        margin: 2%;
        width: 100%;
      }
  }


@media only screen and (max-width: 991px){
  .contenedorTp{
      width: 100%;
      display: flex;
      text-align: center;
      padding: 20px;
    }

}


/* Contacto --------------------------------------------------------- */ 


.cajaContacto1{
  border: 1px solid;
  margin-top: 50px;
}

.h3Contacto {
  @include tittle;
}

.bajadaContainer p{
  font-size: $text;
  margin-bottom: 20px;
  margin-left: 4%;
}

.pBajada3 {
  @include pBajada1;
  padding: 4px 10px 4px 10px;
  margin-left: 10px;
}

form {
  width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.formularioContenedor {
  border: 1px solid;
 
}

.cajaLabel {
  border-right: 1px solid;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.cajaLabel1 {
  border-right: 1px solid;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  height: 100px;
}

label {
    display: inline-block;
}


input{
  width: 70%;
  padding: 0.8em 1.5em;
  margin: 0.5em 0;
  display: inline-block;
  border: none;
  background-color: $color-site;
  opacity: 50%;
}

@media (max-width: 900px){
  input{
    width: 50%;
  }
}

.cajaLabel2 {
  border-right: 1px solid;
  display: inline-block;
  padding: 0 10px;
  margin: 10px 0;
  height: 100px;
}

.formularioContenedor2 {
  border: 1px solid;
  display: flex;
  flex-direction: row;
}

textarea {
  width: 500px;
  padding-left: 1.5em;
  padding-top: 10px;
  margin: 0.5em 0;
  border: none;
  background-color: $color-site;
  opacity: 50%;
  font-family: Helvetica, sans-serif ;
  }

.botonesContacto {
  display: flex;
  flex-direction:row;
  width: 100%;
  margin-bottom: 80px;
}

.miscelanea5 {
  margin-right: 20%;
  margin-left: 5%;
  margin-top: 20px;
    img{
    width: 50%;
}
}

@media(max-width: 900px){
  .miscelanea5 img{
    opacity: 0;
  }
}

.boton3 {
  display:inline-block;  
  input{
   @include buttonPrimary;
   border: 1px solid;
   opacity: 100%;
   text-decoration: underline;
}
}

@media(max-width: 900px){
  .boton3 input{
    font-size: 25px;
  }
}

input[type=submit]:hover {
  background-color: #CFFF00;
}

input[type=reset]:hover {
  background-color: #CFFF00;
}

  

/*Redes --------------------------------------------------------- */

footer{
  
  background-color: #555555;
  position: absolute;
    display: block;
    width: 100%;  
}

.footer a{
  float: right;
  padding: 2em;
    img{
    width: 50px; 
    height: 50px;
}
}

.footer_copy {
  font-family: Helvetica, sans-serif ;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 3em;
  margin-left: 2em;

}

